header {

   width: 100%;
}

header:hover {

   background-color: rgb(100, 116, 133);
}

header ul {

   width: 100%;
   height: 80px;
}

header ul li {
   
   padding: 0 7.5px;
   font-weight: bold;
}

header ul li:hover {

   color: rgb(190, 197, 207);
}