section {
   
   width: 100%;
   min-height: calc(100vh - 80px - 40px);

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

section .conteiner {

   flex-direction: column;
   padding: 15px 0;
   background-color: rgba(128, 128, 128, 0.13);
   border: 1px solid rgba(128, 128, 128, 0.253);
   width: 275px;
   height: 275px;
   border-radius: 50px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
   cursor: pointer;
}

section .conteiner:hover {

   background-color: rgba(0, 0, 0, 0.13);
   border: 1px solid rgba(0, 0, 0, 0.253);
}

section .conteiner p {

   border-bottom: 2.5px dotted rgb(182, 68, 182);
   padding: 0 5px;
   padding-bottom: 2.5px;
   margin-bottom: 45px;
}

section .conteiner img {

   width: 150px;
   filter: grayscale(0.5);
}

section .conteiner:hover img {

   filter: grayscale(0);
}